@font-face {
    font-family: OE;
    src: url(../css/fonts/EnglishTowne.ttf);
}

@font-face {
    font-family: prata;
    src: url(../css/fonts/Prata-Regular.ttf);
}

@font-face {
    font-family: Gill Light;
    src: url(../css/fonts/Gill-Sans-Font-Family/Gill\ Sans\ Light.otf);
}

@font-face {
    font-family: Gill Bold;
    src: url(../css/fonts/Gill-Sans-Font-Family/Gill\ Sans\ Bold.otf);
}